<% provide(:title, @user.name) %>
<h1 class="center">ユーザー情報</h1>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h2>
        <%= name_may_be_blank %>
      </h2>
      <h2>
        ユーザーID<br/>
        <%= @user.id %>
      </h2>
      <h2>
        メールアドレス<br/>
        <%= @user.email%>
      </h2>
      <% if !@user.phone.nil?%>
        <h2>
          電話番号<br/>
          <%= @user.phone %>
        </h2>
      <% end %>
      <%= link_to "変更する", edit_user_registration_path, class: "btn btn-lg btn-primary"%>
      <%= link_to "ホームに戻る", root_path%>
    </section>
  </aside>
</div>